; This is an example. You need to adapt this config file.
; The configuration is modular. What is mandatory is : general and environments.
; You can set any server env name that you want.
; Servers must be `linux` or `postgres` type.
; Important: Pay attention having correct access rights on files you mention (cfr. SSH user being used).

[general]
port = 5000
display_name =
refresh_rate = 1
chart_history = 5000
chart_adaptive_display = 1
debug = 0
secret_key = your-secret-app-key
url_info = https://your-additional-url
url_info_name =

[environments]
available_env = env1, env2
default_env = env2

[env1]
url = https://your-url1
url_name =
servers = serv1, serv2, serv3

[env2]
url = https://your-url2
servers = serv4, serv5, serv6

[serv1]
type = linux
name =
host =
user =
password =
log_file =
nginx_access_file =
chart_label =
chart_color = #3b82f6

[serv2]
type = linux
name =
host =
user =
password =
chart_label =
chart_color = #10b981

[serv3]
type = postgres
name =
host =
port =
user =
password =
database =

[serv4]
type = linux
name =
host =
user =
password =
log_file =
nginx_access_file =
chart_label =
chart_color = #3b82f6

[serv5]
type = linux
name =
host =
user =
password =
chart_label =
chart_color = #10b981

[serv6]
type = postgres
name =
host =
port =
user =
password =
database =
