<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ display_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monitoring.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@7.2.3/dist/gridstack.min.css" />
    <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{{ url_for('static', filename='js/lib/underscorejs/underscore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/nedarajs/nedara.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/lib/gridstack/gridstack.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/monitoring.js') }}" type="module"></script>
</head>
<body>
    <div id="loading-container">
        <div class="wave-container">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <p>Loading {{ display_name }}...</p>
    </div>

    <div class="grid-stack" id="monitoring" style="display: none;">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content">
                <div>
                    <div>
                        <a href="https://github.com/nedara-project" target="_blank" class="nedara-link">
                            Powered by Nedara Project
                        </a>
                    </div>
                    <h2>{{ display_name }}</h2>
                    <div>
                        <div class="status-indicator status-healthy" id="overall-status"></div>
                        <span id="status-text">All Systems Operational</span>
                    </div>
                </div>
                <div>
                    <div id="dashboard-time">
                        Last updated: <span id="last-update-time"></span>
                    </div>
                    <br/>
                    <div class="select-container">
                        <select id="environment-selector">
                            {% for env in environments %}
                            <option value="{{ env }}">{{ env }}</option>
                            {% endfor %}
                        </select>
                        <span class="custom-arrow">▼</span>
                    </div>
                </div>
                <br/>
                <a href="{{ web_url }}" target="_blank" id="web-url" class="simple-link">{{ web_url }}</a>
            </div>
        </div>

        <div class="grid-stack-item" data-gs-x="2" data-gs-y="0" data-gs-width="4" data-gs-height="3">
            <div class="grid-stack-item-content" id="server-panel"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-cpu"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-cpu-alt"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-http"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-http-alt"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-ram"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="6" data-gs-height="4">
            <div class="grid-stack-item-content" id="chart-panel-ram-alt"></div>
        </div>
        <div class="grid-stack-item" data-gs-x="6" data-gs-y="0" data-gs-width="6" data-gs-height="3">
            <div class="grid-stack-item-content" id="postgres-panel"></div>
        </div>
    </div>
</body>
</html>
